@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.buttonHeading,
.buttonContainer 
{
  text-align:center;
  font-family: 'Poiret One', cursive;
}
h4{
 color:#3eb991;
  font-weight:bold;
 
}
p{ font-size: 15px;}
.btn {
  height: 30px;
  width:30px;
  -moz-border-radius: 50px; 
  webkit-border-radius: 50px; 
  border-radius: 50px;
  margin: 3px;

}
.fa{
  
  margin-left: -4px;  
}

.fa.fa-facebook {
    background: #1b3d87;
    color: white;
}

.fa.fa-instagram {
    color:#e13e6d;    
}

.fa.fa-behance {
    color:#0057e7;    
}

.fa.fa-twitter{ 
  color:#0572bb;
}
.fa.fa-dribbble{ 
  color: #ea4c89;
}
.fa.fa-dropbox{
  color:#007ee5;
}
.fa.fa-code{ color: #db4437;}
.fa.fa-slack{ color:#3eb991;}
.fa.fa-stack-overflow{color:#fe7a15;}
.fa.fa-github-alt{ color:#080808;}
.fa.fa-jsfiddle{ color:#1f72bb;margin-left:-3.5px;
}
.btn:hover{
   border: none;
  background-color: #FFFFFF;
}