{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title></title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'assets2/img/core-img/favicon.ico' %}" />

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets2/style.css' %}" />

    <meta charset="UTF-8" />
    <title>{% block title %} Your Profile Digital {% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css"
    />
  </head>

  {% block custom_head %} {% endblock %}

  <body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
      <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    {% block navbar %}
    <header class="header-area">
      <!-- Top Header Area -->
      <div class="top-header">
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-12 h-100">
              <div
                class="header-content h-100 d-flex align-items-center justify-content-between"
              >
                <div class="academy-logo">
                  <a href="#"
                    ><img
                      src="{% static 'assets2/img/core-img/logoYPD.png' %}"
                      alt=""
                      width="30%"
                  /></a>
                </div>
                <div class="login-content">
                  <a href="{% url 'login' %}">Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Navbar Area -->
      <div class="academy-main-menu">
        <div class="classy-nav-container breakpoint-off">
          <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="academyNav">
              <!-- Navbar Toggler -->
              <div class="classy-navbar-toggler">
                <span class="navbarToggler"
                  ><span></span><span></span><span></span
                ></span>
              </div>

              <!-- Menu -->
              <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                  <div class="cross-wrap">
                    <span class="top"></span><span class="bottom"></span>
                  </div>
                </div>

                <!-- Nav Start -->
                <div class="classynav">
                  <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="#">Cargar Archivos</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                  </ul>
                </div>
                <!-- Nav End -->
              </div>

              <!-- Calling Info -->
              <div class="calling-info">
                <div class="call-center">
                  <a href="#"
                    ><i class="icon-telephone-2"></i>
                    <span>(+605) 301 652 7358</span></a
                  >
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    {% endblock %}
    <!-- ##### Header Area End ##### -->

    {% block hero %}
    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
      <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div
          class="single-hero-slide bg-img"
          style="
            background-image: url({% static 'assets2/img/bg-img/banner3.jpg' %})">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12">
                <div class="hero-slides-content">
                  <h4 data-animation="fadeInUp" data-delay="100ms">
                    Todos los perfiles que necesitas
                  </h4>
                  <h2 data-animation="fadeInUp" data-delay="400ms">
                    Bienvenido <br />a Your Profile Digital
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Hero Slide -->
        <div
          class="single-hero-slide bg-img"
          style="
            background-image: url({% static 'assets2/img/bg-img/banner2.jpg' %})">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12">
                <div class="hero-slides-content">
                  <h4 data-animation="fadeInUp" data-delay="100ms">
                    Todos los perfiles que tu necesitas!
                  </h4>
                  <h2 data-animation="fadeInUp" data-delay="400ms">
                    Bienvenido <br />a Your Profile
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ##### Hero Area End ##### -->
    {% endblock %}

    <!-- ##### Top Feature Area Start ##### -->
    <div class="top-features-area wow fadeInUp" data-wow-delay="300ms">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="features-content">
              <div class="row no-gutters">
                <!-- Single Top Features -->
                <div class="col-12 col-md-4">
                  <div
                    class="single-top-features d-flex align-items-center justify-content-center"
                  >
                    <i class="icon-agenda-1"></i>
                    <h5>Base de datos Organizada</h5>
                  </div>
                </div>
                <!-- Single Top Features -->
                <div class="col-12 col-md-4">
                  <div
                    class="single-top-features d-flex align-items-center justify-content-center"
                  >
                    <i class="icon-assistance"></i>
                    <h5>Profesionales calificados</h5>
                  </div>
                </div>
                <!-- Single Top Features -->
                <div class="col-12 col-md-4">
                  <div
                    class="single-top-features d-flex align-items-center justify-content-center"
                  >
                    <i class="icon-telephone-3"></i>
                    <h5>Contactanos</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ##### Top Feature Area End ##### -->

    {% block content %} {#Custom content#} {% endblock %}

    <!-- ##### CTA Area Start ##### -->
    <div class="call-to-action-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div
              class="cta-content d-flex align-items-center justify-content-between flex-wrap"
            >
              <h3>
                Quieres visualizar mejor tus perfiles!, Your Profile Digital lo
                hace por ti
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ##### CTA Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
      <div class="main-footer-area section-padding-100-0">
        <div class="container">
          <div class="row">
            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="footer-widget">
                <div class="widget-title">
                  <a href="#"
                    ><img
                      src="{% static 'assets2/img/core-img/logoblanco.png' %}"
                      alt=""
                      width="80%"
                  /></a>
                </div>
                <div class="footer-social-info text-center">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                  <a href="#"><i class="fa fa-behance"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="footer-widget mb-100">
                <div class="widget-title">
                  <h6>Acceso Directos</h6>
                </div>
                <nav>
                  <ul class="useful-links">
                    <li><a href="#top">Incio</a></li>
                    <li><a href="#">Que hacemos?</a></li>
                    <li><a href="#">Equipo Hackaton</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="footer-widget mb-100">
                <div class="widget-title">
                  <h6>Gallery</h6>
                </div>
                <div
                  class="gallery-list d-flex justify-content-between flex-wrap"
                >
                  <a
                    href="{% static 'assets2/img/bg-img/gallery1.jpg' %}"
                    class="gallery-img"
                    title="Gallery Image 1"
                    ><img
                      src="{% static 'assets2/img/bg-img/gallery1.jpg' %}"
                      alt=""
                  /></a>
                  <a
                    href="{% static 'assets2/img/bg-img/gallery2.jpg' %}"
                    class="gallery-img"
                    title="Gallery Image 2"
                    ><img
                      src="{% static 'assets2/img/bg-img/gallery2.jpg' %}"
                      alt=""
                  /></a>
                  <a
                    href="{% static 'assets2/img/bg-img/gallery3.jpg' %}"
                    class="gallery-img"
                    title="Gallery Image 3"
                    ><img
                      src="{% static 'assets2/img/bg-img/gallery3.jpg' %}"
                      alt=""
                  /></a>
                  <a
                    href="{% static 'assets2/img/bg-img/gallery4.jpg' %}"
                    class="gallery-img"
                    title="Gallery Image 4"
                    ><img
                      src="{% static 'assets2/img/bg-img/gallery4.jpg' %}"
                      alt=""
                  /></a>
                  <a
                    href="{% static 'assets2/img/bg-img/gallery5.jpg' %}"
                    class="gallery-img"
                    title="Gallery Image 5"
                    ><img
                      src="{% static 'assets2/img/bg-img/gallery5.jpg' %}"
                      alt=""
                  /></a>
                  <a
                    href="{% static 'assets2/img/bg-img/gallery6.jpg' %}"
                    class="gallery-img"
                    title="Gallery Image 6"
                    ><img
                      src="{% static 'assets2/img/bg-img/gallery6.jpg' %}"
                      alt=""
                  /></a>
                </div>
              </div>
            </div>
            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="footer-widget mb-100">
                <div class="widget-title">
                  <h6>Contactanos</h6>
                </div>
                <div class="single-contact d-flex mb-30">
                  <i class="icon-placeholder"></i>
                  <p>4127/ 5B-C Mislane Road, Gibraltar, UK</p>
                </div>
                <div class="single-contact d-flex mb-30">
                  <i class="icon-telephone-1"></i>
                  <p>Main: 203-808-8613 <br />Office: 203-808-8648</p>
                </div>
                <div class="single-contact d-flex">
                  <i class="icon-contract"></i>
                  <p>office@yourbusiness.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-footer-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved | Your Profile Digital
                <i class="fa fa-heart-o" aria-hidden="true"></i> by
                <a href="https://colorlib.com" target="_blank">Hackaton No.3</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- ##### All Javascript Script ##### -->

    <!-- Popper js -->
    <script src="{% static 'assets2/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'assets2/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'assets2/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'assets2/js/active.js' %}"></script>

    <script>
      $(document).ready(function () {
        $(".table").DataTable();
      });
    </script>

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
  </body>
</html>
