{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
<link rel="stylesheet" href="{% static 'styledetailhv.css' %}"/>
{% endblock %}

    {% block navbar %}
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="#"><img src="{% static 'assets2/img/core-img/logoYPD.png' %}" alt="" width="30%"></a>
                            </div>
							<div class="login-content">
								<a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                            <ul>
                                <li><a href="#inicio">Inicio</a></li>                               
                            </div>
                            <!-- Nav End -->    
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="#"><i class="icon-telephone-2"></i> <span>(+605) 301 652 7358</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

{% block content %}


<div class="container mb-5 mt-5">
		<div id="colorlib-page">
			<div id="colorlib-about">
				<div class="container">	
				<div class="item">
					<h1 class="text-center"><span>{{ profile.first_name}} {{ profile.last_name}}</span></h1>
					<h5 class="text-center"><span> ({{ profile.profession }})</span></h5>
				</div>	
				<div class="row">
					<div class="col-md-5 animate-box mt-5">
						<div class="owl-carousel3">
							<div class="item">
								<img class="img-responsive about-img" src="{% static 'assets3/images/about.jpg' %}" alt="html5 bootstrap template by colorlib.com">
							</div>
						</div>
					</div>
					<div class="col-md-6 col-md-push-1 animate-box">
						<div class="about-desc">
							<div class="owl-carousel3">
							</div>
							<div class="desc">
								<div class="rotate">
									<br>
									<h2 class="heading">Perfil</h2>
								</div>
								<p>A small river named Duden <a href="#">flows by their place</a> and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>

								<div class="item">
									<h3><span>Datos Personales</span></h3>
								</div>
								<table class="table">								
									<tbody>
										<tr>
											<td>No. Documento de Identidad</td>
											<td>{{ profile.document_number }}</td>
										</tr>
										<tr>
											<td>Telefono: </td>
											<td>{{ profile.phone }}</td>
										</tr>
										<tr>
											<td>Dirección: </td>
											<td>{{ profile.address }}</td>
										</tr>
										<tr>
											<td>Profesion:</td>
											<td>{{ profile.profession }}<</td>
										</tr>
										<tr>
											<td>Grado Profesión: </td>
											<td>{{ profile.profession_grade }}</td>
										</tr>
										<tr>
											<td>Años de Experiencia: </td>
											<td>{{ profile.years_experience}}</td>
										</tr>
										<tr>
											<td>Correo: </td>
											<td>{{ profile.email}}</td>
										</tr>
									</tbody>
								</table>							
								<!--Redes sociales-->
								<p class="colorlib-social-icons">
									<div class="buttonContainer">
										<a class="btn btn-default" type= "button" href="#"><i class="fa fa-jsfiddle"> </i> </a>  
										<a class="btn btn-default" type= "button" href="#"> <i class="fa fa-code"></i> </a> 
										<a class="btn btn-default" type= "button" href="#"><i class="fa fa-twitter"></i> </a>
										<a class="btn btn-default" type= "button" href="#"> <i class="fa fa-slack"></i> </a>
										<a class="btn btn-default" type= "button" href="#"> <i class="fa fa-github-alt"></i> </a>
										<a class="btn btn-default" type= "button" href="#"><i class="fa fa-stack-overflow "></i> </a>
										<a class="btn btn-default" type= "button" href="#"><i class="fa fa-dropbox"></i></a>
										<a class="btn btn-default" type= "button" href="#"> <i class="fa fa-dribbble"> </i> </a>
										<a class="btn btn-default" type= "button" href="#"><i class="fa fa-codepen"></i> </a>
									</div>
								</p>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


{% endblock %}
