{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block custom_head %}
    <link rel="stylesheet" href="{% static 'assets/css/data_table.css' %}">   
{% endblock %}

    {% block navbar %}
    <header class="header-area">
<h2>
        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="#"><img src="{% static 'assets2/img/core-img/logoYPD.png' %}" alt="" width="30%"></a>
                            </div>
                            <div class="login-content">
                                <a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="#inicio">Inicio</a></li>
                                    <li><a href="#uploadfile">Cargar Archivos</a></li>                                   
                                </ul>
                            </div>
                            <!-- Nav End -->    
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="#"><i class="icon-telephone-2"></i> <span>(+605) 301 652 7358</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

{% block content %}
    <div class="col-8 mx-auto">
        <div class="container px-3 ">
            <h4 class="text-center pt-2">Bienvenido(a): {{user.username}} </h4>            
        </div>
    </div>

<section id="uploadfile">
  {% if user.is_authenticated and user.is_staff %}
    <div class="container px-3 ">
       <div class="card">
            <h3 class="card-header">Carga un archivo CSV</h3>
            <div class="card-body ">
                <form action="{% url 'upload_file' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <label for="defaultFormControlInput" class="form-label "></label>
                        <input
                                type="text"
                                class="form-control"
                                id="defaultFormControlInput"
                                name="fileTitle"
                                placeholder="Filename"
                                aria-describedby="defaultFormControlHelp"
                                required
                        />

                        <div class="mb-3">
                            <label for="formFile" class="form-label"></label>
                            <input class="form-control" type="file" id="formFile" name="uploadedFile" required/>
                        </div>
                        <p></p>
                    </div>
                    <div class="mt-lg-2">
                        <button type="submit" class="btn btn-outline-success">Upload</button>
                    </div>
                </form>
                {% if msg %}
                    <div class="alert alert-warning alert-dismissible mt-3" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
  {% endif %}
</section>

    <div class="container py-0">
        <div class="row py-5">
            <div class="col-lg-12 mx-auto">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-5 bg-white rounded">
                        <div class="container px-3">
                            <h3 class="text-center pt-2">Lista de perfiles</h3>
                        </div>
                        <div class="table-responsive">
                            <table id="example" style="width:100%"
                                   class="table table-striped table-bordered text-center">
                                <thead>
                                <tr>
                                    <th>Numero Documento</th>
                                    <th>Nombre</th>
                                    <th>Telefono</th>
                                    <th>email</th>
                                    <th>Profesion</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% regroup temperatures|dictsort:'city' by city as cities_temps %}
                                    {% for profile in profiles %}
                                        <tr>
                                            <td>{{ profile.document_number }}</td>
                                            <td><a href="{% url 'detail' profile.id %}"> {{ profile.first_name }} {{profile.last_name}}</a></td>
                                            <td>{{ profile.phone }} </td>
                                            <td>{{ profile.email }}</td>
                                            <td>{{ profile.profession }}</td>
                                        </tr>                                            
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ profile.first_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Script de Modal -->
<script>
    $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
    })
</script>

{% endblock %}

