<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Importer</title>
</head>
<body>
    <div class="container pt-5">
        <div class="card">
            <h5 class="card-header">File Uploader</h5>
            <div class="card-body">
                <form action="{% url 'upload_file' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <label for="defaultFormControlInput" class="form-label"></label>
                        <input
                                type="text"
                                class="form-control"
                                id="defaultFormControlInput"
                                name="fileTitle"
                                placeholder="Filename"
                                aria-describedby="defaultFormControlHelp"
                                required
                        />

                        <div class="mb-3">
                            <label for="formFile" class="form-label"></label>
                            <input class="form-control" type="file" id="formFile" name="uploadedFile" required/>
                        </div>
                        <p></p>
                    </div>
                    <div class="mt-lg-2">
                        <button type="submit" class="btn btn-outline-success">Upload</button>
                    </div>
                </form>
                {% if msg %}
                    <div class="alert alert-warning alert-dismissible mt-3" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>